#button {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
#container {
    width: 80%;
    margin: auto;
    border: 1px solid black;
    height: 408px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.coloring-block {
    width: 10px;
    height: 10px;
    border: 1px solid gray;
}

