.clear-both {
    clear: both;
}
h1 {
    font-size: 50px; 
    text-align: center;
}
.buttons {
    margin: auto;
    width: 65%;
    margin-bottom: 80px;
}
button:first-child {
    float: left;
    margin-left: 70px;
}
button:last-child {
    float: right;
    margin-right: 70px;
}
.coloring-block {

    border: 1px solid black;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
}
#drawing-box {
    margin: auto;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    justify-content: center;
}