* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#button {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
#container {
    width: 50%;
    margin: auto;
    border: 2px solid black; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.coloring-block{
    border: 1px solid gray;
}